PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/semantic_explorer
# For MongoDB Atlas Vector Search:
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/semantic_explorer?retryWrites=true&w=majority
